body {
    font-family: 'Montserrat';
    box-sizing: border-box;
}
/* border */
.br-all{
    border: solid;
}
.border-w--1{
    border-width: 1px;
}

.br-radius--8{
    border-radius: 8px;
}
.border-w--4{
    border-width: 4px;
}

.br-color--2{
    border-color: #589D6F;
}
.br-color--3{
    border-color: rgba(225, 225, 225, 1);
}
.br-radius--24{
    border-radius: 24px;
}
.br-radius--110{
    border-radius: 110px;
}
/* button */

/* hover */
.link-type-1{
    color: #333A35;
}
.link-type-1:hover{
    color: #589D6F;
}
.block-type-1{
    background-color: #F1F5F4;
}
.block-type-1:hover{
    background-color: #589D6F;
}
.block-type-1:hover p{
    color: #FFF;
}
.block-type-1:hover img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(2%) hue-rotate(56deg) brightness(114%) contrast(100%);
}



.main-btn {
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    border-radius: 8px;
    background: linear-gradient(129deg, #FAA602 0%, #FAC302 100%);
    padding: 16px 32px;
    height: fit-content;

}
/* text-weght */
.bold{
    font-weight: 900;
}
.strong{
    font-weight: 700;
}
.weight-600{
    font-weight: 600;
}
/* text-colors */
.text-color-1 {
    color: #333A35;
}

.text-color-2 {
    color: #829A9A;
}

.text-color-3 {
    color: #FFFFFF;
}

.text-color-4 {
    color: #589D6F;
}

.text-color-5{
    color: #FAB402;
}
.text-color-6{
    color: #A6A6A6;
}
.text-color-7{
    color: #cbe5d4;
}
.text-color-8{
    color: #333A35;
}

/* background-colors */
.bg-color-1 {
    background-color: #FFF;
}

.bg-color-2 {
    background-color: #F1F5F4;
}

.bg-color-3 {
    background: linear-gradient(129deg, #FAA602 0%, #FAC302 100%);
}

.bg-color-4 {
    background-color: #589D6F;
}
.bg-color-5{
    background-color: #829A9A;
}

/* headlines */
h1 {
    font-size: 57px;
    font-weight: 900;
    line-height: 61px;
}

h2 {
    font-size: 40px;
    font-weight: 900;
    line-height: 140%;
}

.headline-1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 96%;
}

.headline-2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 140%;
}

.headline-3 {
    font-size: 80px;
    font-weight: 700;
    line-height: 140%;
}
.headline-4{
    font-size: 25px;
    font-weight: 700;
    line-height: 69px;
}

/* text-sizes */
.text-md {
    font-size: 18px;
}

.text-l {
    font-size: 22px;
}
.text-ld{
    font-size: 20px;
}

.text-lg {
    font-size: 25px;
}
.text-b{
    font-size: 32px;
}
.align-center{
    text-align: center;
}
.line-height{
    line-height: 20px;
}
.uppercase{
    text-transform: uppercase;
}

/* blocks */
.gap{
    gap: 40px;
}
.gap-20{
    gap: 20px;
}
section {
    position: relative;
}
.relative{
    position: relative;
}

.container {
    max-width: 1320px;
    padding: 0 clamp(10px, 5vw, 40px);
    margin: 0 auto;
}
.z-index--1{
    z-index: 1;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.direction {
    flex-direction: column;
}

.width-full {
    width: 100%;
    box-sizing: border-box;
}

.width-fit {
    width: fit-content;
}

.max-w--600 {
    max-width: 600px;
}
.max-w--650{
    max-width: 650px;
}

.max-w--400 {
    max-width: 400px;
}
.max-w--250{
    max-width: 250px;
}

.max-w--300 {
    max-width: 300px;
}
.max-w--350{
    max-width: 350px;
}
.max-w--800{
    max-width: 800px;
}
.max-w--850{
    max-width: 850px;
}
.max-w--900{
    max-width: 900px;
}
.max-w--490{
    max-width: 490px;
}
.max-w--450{
    max-width: 450px;
}

.m--0-auto{
    margin: 0 auto;
}

.m--auto-0 {
    margin: auto 0;
}

.pt-64 {
    padding-top: clamp(32px, 4.6vw, 64px);
}

.pb-64 {
    padding-bottom: clamp(32px, 4.6vw, 64px);
}

.pr-64 {
    padding-right: clamp(32px, 4.6vw, 64px);
}

.pl-64 {
    padding-left: clamp(32px, 4.6vw, 64px);
}

.p-64 {
    padding: clamp(32px, 4.6vw, 64px);
}

.mt-64 {
    margin-top: clamp(32px, 4.6vw, 64px);
}

.mb-64 {
    margin-bottom: clamp(32px, 4.6vw, 64px);
}

.mr-64 {
    margin-right: clamp(32px, 4.6vw, 64px);
}

.ml-64 {
    margin-left: clamp(32px, 4.6vw, 64px);
}

.m-64 {
    margin: clamp(32px, 4.6vw, 64px);
}



















































.pt-72 {
    padding-top: clamp(36px, 5.1vw, 72px);
}

.pb-72 {
    padding-bottom: clamp(36px, 5.1vw, 72px);
}

.pr-72 {
    padding-right: clamp(36px, 5.1vw, 72px);
}

.pl-72 {
    padding-left: clamp(36px, 5.1vw, 72px);
}

.p-72 {
    padding: clamp(36px, 5.1vw, 72px);
}

.mt-72 {
    margin-top: clamp(36px, 5.1vw, 72px);
}

.mb-72 {
    margin-bottom: clamp(36px, 5.1vw, 72px);
}

.mr-72 {
    margin-right: clamp(36px, 5.1vw, 72px);
}

.ml-72 {
    margin-left: clamp(36px, 5.1vw, 72px);
}

.m-72 {
    margin: clamp(36px, 5.1vw, 72px);
}
































.pt-88 {
    padding-top: clamp(44px, 6.3vw, 88px);
}

.pb-88 {
    padding-bottom: clamp(44px, 6.3vw, 88px);
}

.pr-88 {
    padding-right: clamp(44px, 6.3vw, 88px);
}

.pl-88 {
    padding-left: clamp(44px, 6.3vw, 88px);
}

.p-88 {
    padding: clamp(44px, 6.3vw, 88px);
}

.mt-88 {
    margin-top: clamp(44px, 6.3vw, 88px);
}

.mb-88 {
    margin-bottom: clamp(44px, 6.3vw, 88px);
}

.mr-88 {
    margin-right: clamp(44px, 6.3vw, 88px);
}

.ml-88 {
    margin-left: clamp(44px, 6.3vw, 88px);
}

.m-88 {
    margin: clamp(44px, 6.3vw, 88px);
}






































.pt-80 {
    padding-top: clamp(40px, 5.7vw, 80px);
}

.pb-80 {
    padding-bottom: clamp(40px, 5.7vw, 80px);
}

.pr-80 {
    padding-right: clamp(40px, 5.7vw, 80px);
}

.pl-80 {
    padding-left: clamp(40px, 5.7vw, 80px);
}

.p-80 {
    padding: clamp(40px, 5.7vw, 80px);
}

.mt-80 {
    margin-top: clamp(40px, 5.7vw, 80px);
}

.mb-80 {
    margin-bottom: clamp(40px, 5.7vw, 80px);
}

.mr-80 {
    margin-right: clamp(40px, 5.7vw, 80px);
}

.ml-80 {
    margin-left: clamp(40px, 5.7vw, 80px);
}

.m-80 {
    margin: clamp(40px, 5.7vw, 80px);
}



.pb-70{
    padding-bottom: clamp(35px,5vw,70px);
}














.pt-40 {
    padding-top: clamp(20px, 2.86vw, 40px);
}

.pb-40 {
    padding-bottom: clamp(20px, 2.86vw, 40px);
}

.pr-40 {
    padding-right: clamp(20px, 2.86vw, 40px);
}

.pl-40 {
    padding-left: clamp(20px, 2.86vw, 40px);
}

.p-40 {
    padding: clamp(20px, 2.86vw, 40px);
}

.mt-40 {
    margin-top: clamp(20px, 2.86vw, 40px);
}

.mb-40 {
    margin-bottom: clamp(20px, 2.86vw, 40px);
}

.mr-40 {
    margin-right: clamp(20px, 2.86vw, 40px);
}

.ml-40 {
    margin-left: clamp(20px, 2.86vw, 40px);
}

.m-40 {
    margin: clamp(20px, 2.86vw, 40px);
}





.pt-32 {
    padding-top: clamp(16px, 2.28vw, 32px);
}

.pb-32 {
    padding-bottom: clamp(16px, 2.28vw, 32px);
}

.pr-32 {
    padding-right: clamp(16px, 2.28vw, 32px);
}

.pl-32 {
    padding-left: clamp(16px, 2.28vw, 32px);
}

.p-32 {
    padding: clamp(16px, 2.28vw, 32px);
}

.mt-32 {
    margin-top: clamp(16px, 2.28vw, 32px);
}

.mb-32 {
    margin-bottom: clamp(16px, 2.28vw, 32px);
}

.mr-32 {
    margin-right: clamp(16px, 2.28vw, 32px);
}

.ml-32 {
    margin-left: clamp(16px, 2.28vw, 32px);
}

.m-32 {
    margin: clamp(16px, 2.28vw, 32px);
}
































.pt-96 {
    padding-top: clamp(48px, 6.86vw, 96px);
}

.pb-96 {
    padding-bottom: clamp(48px, 6.86vw, 96px);
}

.pr-96 {
    padding-right: clamp(48px, 6.86vw, 96px);
}

.pl-96 {
    padding-left: clamp(48px, 6.86vw, 96px);
}

.p-96 {
    padding: clamp(48px, 6.86vw, 96px);
}

.mt-96 {
    margin-top: clamp(48px, 6.86vw, 96px);
}

.mb-96 {
    margin-bottom: clamp(48px, 6.86vw, 96px);
}

.mr-96 {
    margin-right: clamp(48px, 6.86vw, 96px);
}

.ml-96 {
    margin-left: clamp(48px, 6.86vw, 96px);
}

.m-96 {
    margin: clamp(48px, 6.86vw, 96px);
}


.pt-120 {
    padding-top: clamp(60px, 8.57vw, 120px);
}

.pb-120 {
    padding-bottom: clamp(60px, 8.57vw, 120px);
}

.pr-120 {
    padding-right: clamp(60px, 8.57vw, 120px);
}

.pl-120 {
    padding-left: clamp(60px, 8.57vw, 120px);
}

.p-120 {
    padding: clamp(60px, 8.57vw, 120px);
}

.mt-120 {
    margin-top: clamp(60px, 8.57vw, 120px);
}

.mb-120 {
    margin-bottom: clamp(60px, 8.57vw, 120px);
}

.mr-120 {
    margin-right: clamp(60px, 8.57vw, 120px);
}

.ml-120 {
    margin-left: clamp(60px, 8.57vw, 120px);
}
.m-120 {
    margin: clamp(60px, 8.57vw, 120px);
}




.pt-136 {
    padding-top: clamp(68px, 9.71vw, 136px);
}

.pb-136 {
    padding-bottom: clamp(68px, 9.71vw, 136px);
}

.pr-136 {
    padding-right: clamp(68px, 9.71vw, 136px);
}

.pl-136 {
    padding-left: clamp(68px, 9.71vw, 136px);
}

.p-136 {
    padding: clamp(68px, 9.71vw, 136px);
}

.mt-136 {
    margin-top: clamp(68px, 9.71vw, 136px);
}

.mb-136 {
    margin-bottom: clamp(68px, 9.71vw, 136px);
}

.mr-136 {
    margin-right: clamp(68px, 9.71vw, 136px);
}

.ml-136 {
    margin-left: clamp(68px, 9.71vw, 136px);
}

.m-136 {
    margin: clamp(68px, 9.71vw, 136px);
}

.pt-96 {
    padding-top: clamp(48px, 8.57vw, 96px);
}

.pb-96 {
    padding-bottom: clamp(48px, 8.57vw, 96px);
}

.pr-96 {
    padding-right: clamp(48px, 8.57vw, 96px);
}

.pl-96 {
    padding-left: clamp(48px, 8.57vw, 96px);
}

.p-96 {
    padding: clamp(48px, 8.57vw, 96px);
}

.mt-96 {
    margin-top: clamp(48px, 8.57vw, 96px);
}

.mb-96 {
    margin-bottom: clamp(48px, 8.57vw, 96px);
}

.mr-96 {
    margin-right: clamp(48px, 8.57vw, 96px);
}

.ml-96 {
    margin-left: clamp(48px, 8.57vw, 96px);
}

.m-96 {
    margin: clamp(48px, 8.57vw, 96px);
}

/* 48px */
.pt-48 {
    padding-top: clamp(24px, 4.57vw, 48px);
}

.pb-48 {
    padding-bottom: clamp(24px, 4.57vw, 48px);
}

.pr-48 {
    padding-right: clamp(24px, 4.57vw, 48px);
}

.pl-48 {
    padding-left: clamp(24px, 4.57vw, 48px);
}

.p-48 {
    padding: clamp(24px, 4.57vw, 48px);
}

.mt-48 {
    margin-top: clamp(24px, 4.57vw, 48px);
}

.mb-48 {
    margin-bottom: clamp(24px, 4.57vw, 48px);
}

.mr-48 {
    margin-right: clamp(24px, 4.57vw, 48px);
}

.ml-48 {
    margin-left: clamp(24px, 4.57vw, 48px);
}

.m-48 {
    margin: clamp(24px, 4.57vw, 48px);
}

/* 56px */
.pt-56 {
    padding-top: clamp(40px, 4vw, 56px);
}

.pb-56 {
    padding-bottom: clamp(40px, 4vw, 56px);
}

.pr-56 {
    padding-right: clamp(40px, 4vw, 56px);
}

.pl-56 {
    padding-left: clamp(40px, 4vw, 56px);
}

.p-56 {
    padding: clamp(40px, 4vw, 56px);
}

.mt-56 {
    margin-top: clamp(40px, 4vw, 56px);
}

.mb-56 {
    margin-bottom: clamp(40px, 4vw, 56px);
}

.mr-56 {
    margin-right: clamp(40px, 4vw, 56px);
}

.ml-56 {
    margin-left: clamp(40px, 4vw, 56px);
}

.m-56 {
    margin: clamp(40px, 4vw, 56px);
}


/* 40px */
.pt-40 {
    padding-top: clamp(48px, 2.9vw, 40px);
}

.pb-40 {
    padding-bottom: clamp(48px, 2.9vw, 40px);
}

.pr-40 {
    padding-right: clamp(48px, 2.9vw, 40px);
}

.pl-40 {
    padding-left: clamp(48px, 2.9vw, 40px);
}

.p-40 {
    padding: clamp(48px, 2.9vw, 40px);
}

.mt-40 {
    margin-top: clamp(48px, 2.9vw, 40px);
}

.mb-40 {
    margin-bottom: clamp(48px, 2.9vw, 40px);
}

.mr-40 {
    margin-right: clamp(48px, 2.9vw, 40px);
}

.ml-40 {
    margin-left: clamp(48px, 2.9vw, 40px);
}

.m-40 {
    margin: clamp(48px, 2.9vw, 40px);
}

/* 48px */
.pt-48 {
    padding-top: clamp(24px, 2.3vw, 48px);
}

.pb-48 {
    padding-bottom: clamp(24px, 2.3vw, 48px);
}

.pr-48 {
    padding-right: clamp(24px, 2.3vw, 48px);
}

.pl-48 {
    padding-left: clamp(24px, 2.3vw, 48px);
}

.p-48 {
    padding: clamp(24px, 2.3vw, 48px);
}

.mt-48 {
    margin-top: clamp(24px, 2.3vw, 48px);
}

.mb-48 {
    margin-bottom: clamp(24px, 2.3vw, 48px);
}

.mr-48 {
    margin-right: clamp(24px, 2.3vw, 48px);
}

.ml-48 {
    margin-left: clamp(24px, 2.3vw, 48px);
}

.m-48 {
    margin: clamp(24px, 2.3vw, 48px);
}

/* 24px */
.pt-24 {
    padding-top: clamp(16px, 1.7vw, 24px);
}

.pb-24 {
    padding-bottom: clamp(16px, 1.7vw, 24px);
}

.pr-24 {
    padding-right: clamp(16px, 1.7vw, 24px);
}

.pl-24 {
    padding-left: clamp(16px, 1.7vw, 24px);
}

.p-24 {
    padding: clamp(16px, 1.7vw, 24px);
}

.mt-24 {
    margin-top: clamp(16px, 1.7vw, 24px);
}

.mb-24 {
    margin-bottom: clamp(16px, 1.7vw, 24px);
}

.mr-24 {
    margin-right: clamp(16px, 1.7vw, 24px);
}

.ml-24 {
    margin-left: clamp(16px, 1.7vw, 24px);
}

.m-24 {
    margin: clamp(16px, 1.7vw, 24px);
}

/* 16px */
.pt-16 {
    padding-top: clamp(8px, 1.2vw, 16px);
}

.pb-16 {
    padding-bottom: clamp(8px, 1.2vw, 16px);
}

.pr-16 {
    padding-right: clamp(8px, 1.2vw, 16px);
}

.pl-16 {
    padding-left: clamp(8px, 1.2vw, 16px);
}

.p-16 {
    padding: clamp(8px, 1.2vw, 16px);
}

.mt-16 {
    margin-top: clamp(8px, 1.2vw, 16px);
}

.mb-16 {
    margin-bottom: clamp(8px, 1.2vw, 16px);
}

.mr-16 {
    margin-right: clamp(8px, 1.2vw, 16px);
}

.ml-16 {
    margin-left: clamp(8px, 1.2vw, 16px);
}

.m-16 {
    margin: clamp(8px, 1.2vw, 16px);
}

/* 8px */
.pt-8 {
    padding-top: 8px;
}

.pb-8 {
    padding-bottom: 8px;
}

.pr-8 {
    padding-right: 8px;
}

.pl-8 {
    padding-left: 8px;
}

.p-8 {
    padding: 8px;
}

.mt-8 {
    margin-top: 8px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mr-8 {
    margin-right: 8px;
}

.ml-8 {
    margin-left: 8px;
}

.m-8 {
    margin: 8px;
}











.pt-104 {
    padding-top: clamp(52px, 7.42vw, 104px);
}

.pb-104 {
    padding-bottom: clamp(52px, 7.42vw, 104px);
}

.pr-104 {
    padding-right: clamp(52px, 7.42vw, 104px);
}

.pl-104 {
    padding-left: clamp(52px, 7.42vw, 104px);
}

.p-104 {
    padding: clamp(52px, 7.42vw, 104px);
}

.mt-104 {
    margin-top: clamp(52px, 7.42vw, 104px);
}

.mb-104 {
    margin-bottom: clamp(52px, 7.42vw, 104px);
}

.mr-104 {
    margin-right: clamp(52px, 7.42vw, 104px);
}

.ml-104 {
    margin-left: clamp(52px, 7.42vw, 104px);
}

.m-104 {
    margin: clamp(52px, 7.42vw, 104px);
}













.pt-112 {
    padding-top: clamp(56px, 8vw, 112px);
}

.pb-112 {
    padding-bottom: clamp(56px, 8vw, 112px);
}

.pr-112 {
    padding-right: clamp(56px, 8vw, 112px);
}

.pl-112 {
    padding-left: clamp(56px, 8vw, 112px);
}

.p-112 {
    padding: clamp(56px, 8vw, 112px);
}

.mt-112 {
    margin-top: clamp(56px, 8vw, 112px);
}

.mb-112 {
    margin-bottom: clamp(56px, 8vw, 112px);
}

.mr-112 {
    margin-right: clamp(56px, 8vw, 112px);
}

.ml-112 {
    margin-left: clamp(56px, 8vw, 112px);
}

.m-112 {
    margin: clamp(56px, 8vw, 112px);
}
